#orders{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 95%;
}
#orders tr:nth-child(even){
    background-color: #e3effa;
}
#orders tr:hover, #order th:not(:first-child) hover{
    background-color: #c9c9c9;
}
#orders th{
    color: white;
    background-color: #0087ff;
    padding-top: 15px;
    padding-bottom: 15px;
}
#orders th, #orders td{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 2px;
}